<html>
<head>
<% if @error %>
  <title>Error</title>
<% else %>
  <title><%= @fullname %></title>
<% end %>
</head>
<body>

<% if @error %>
  User does not exist
<% else %>
  <h1><%= @fullname %></h1>
  <br />
  <img src="images/<%= @image %>.jpg" />
<% end %>

</body>
</html>